@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Nunito Sans', sans-serif;
}

 

@keyframes move {
1%{background-color: #a7f50b;}
10%{background-color: #f50b0b;}
20%{background-color: #490bf5;}
30%{background-color: #f5780b;}
40%{background-color: #0bf5f1;}
50%{background-color: #e5f50b;}
60%{background-color: #f50bca;}
70%{background-color: #ffffff;}
80%{background-color: #940bf5;}
90%{background-color: #0bf561;}
100%{background-color: #f50bd2;}

}
.box{
    width: 200px;
    height: 200px;
    background-color: #29d7ee65;
    animation: polise 2s infinite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  rgba(6, 194, 174, 1);
    ;
         /* animation: move 1s infinite;  */
}


.container{
    max-width: 961px;  
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav_list{
    display: flex;
    gap: 30px;
    animation: polise 2s infinite;

    align-items: center;
    a{
        font-size: 18px;
        font-weight: 500;
        color: var(--white);
    }
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    animation: polise 2s infinite;

}

.logo a img{
    width: 188px;
}

.btn{
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
        /* background: rgba(255, 105, 58, 1); */
    transition: 0.3s;
    padding: 17px 35px ;
    border-radius: 30px;
    border: 3px solid rgba(255, 105, 58, 1);
    animation: polise 2s infinite;
    z-index: 3;
    &:hover{
        background: rgba(255, 105, 58, 1);
        text-shadow: 0px 0px 10px rgb(255, 255, 255);
        box-shadow: 0px 0px 10px 10px rgb(255, 0, 0);
        
    }
}

.header-txt{
    display: flex;
    animation: polise 2s infinite;
    
    justify-content: space-around;
    align-items: center;
    .div1{
        max-width: 541px;
        width: 100%;
        color: white;
        h1{
            font-size: 50px;
            font-weight: 900;
        }
        p{
            font-size: 25px;
            font-weight: 400;
        }
    }
    .header-img{
        width: 447px;
        height: 382;

    }
}
.croll{
    width: 50px;
    height: 50px;
    background-color:var(--black);
    color: var(--white);
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    padding: 5px;
    border-radius: 50px ; 
    position: relative;
    animation: polise 2s infinite;
}
.croll::after{
    content: "";
    position: absolute;
    bottom: 18%;
    left: 47%;
    width: 3px;
    height: 15px;
    background-color: white;
    transition: 0.3s;
}
.croll:hover::after{
    bottom: 15%;
    left: 57%;
    width: 3px;
    height: 15px;
    transform: rotate(55deg);
   
   
}
.croll::before{
    content: "";
    position: absolute;
    bottom: 18%;
    right: 47%;
    width: 3px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}
.croll:hover::before{
    bottom: 15%;
    right: 57%;
    width: 3px;
    height: 15px;
    transform: rotate(-55deg);
   
   
}

.Category{

    h2{
        text-align: center;
        color: white;
        font-size: 60px;
        font-weight: 700;
    }
}
.imgs_c{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 157px;
    margin-top: 55px;
    color: white;
    text-align: center;
    h3{
        font-size: 30px;
        font-weight: 600;
    }
    .img_c1{
        margin-top: -100px;
    }
}

 .section2-img{
        width: 447px;
        height: 382px;
        margin-left: 300px;
    }
    .img_c2{
        margin-top: -50px;
        margin-left: 20px;
    }
    .section2_txt{
        margin-left: 750px;
        margin-top: -250px;
        p{
            margin-top: 50px;
        }
    }
.tric-trit{
    margin-top: 200px;
    h1{
        font-size: 60px;
        color: white;
        font-weight: 700;
        text-align: center;
    
    }
.row{
    display: flex;
    gap: 100px;
    margin-left: -100px;
}
    .card{
        width: 328px;
        /* height: 390px; */
        color: white;
        text-align: center;
        margin-top: 50px;
        padding: 20px;
        transition: 0.5s;
        background: linear-gradient(to top ,rgba(6, 194, 175, 0.116), rgb(51, 164, 174, 1)) ;
        h1{
            font-size: 30px;
            font-weight: 500;
            background: rgba(51, 164, 174, 0);
        }
        p{
            background: rgba(51, 164, 174, 0);
            /* margin: 0 20px; */
        }
        img{
            width: 185px;
        background: rgba(51, 164, 174, 0);
            height: 185px;
            margin:0 65px ;
        }
    }
    .card:hover{
        transform: translateY(-29px);
        background:linear-gradient(to top,rgba(4, 141, 127, 0.103) ,rgb(41, 131, 139));
    }
}

.sub{
    margin-top: 100px;
    display: flex;
    background: linear-gradient(162.8deg, rgba(51, 164, 174, 0.3) 11.82%, rgba(6, 194, 174, 0) 122.39%);

    color: white;
    h1{
        font-size: 60px;
        font-weight: 700;
        
    }
    p{
        font-size: 20px;
        font-weight: 400;
    }
    button{
        color: white;
        padding: 35px;
        border: none;
        font-size: 20px;
        font-weight: 600;
        background: rgba(255, 105, 58, 1);
        border-radius:0 20px 20px 0;
        transform: translateY(2px);
    }
    input{
        height: 93px;
        border: none;
        width: 300px;
        background: white;
        border-radius: 20px  0 0px 20px;
    }
    input::placeholder {
    color: black;     
    font-size: 20px; 
    text-align: center;
    font-weight: 400; 
    
}

}
.left-sub{
       background: linear-gradient(162.8deg, rgba(51, 164, 174, 0.3) 11.82%, rgba(6, 194, 174, 0) 122.39%);
    }
    .right-sub{
        
        img{
                background: linear-gradient(162.8deg, rgba(51, 164, 174, 0.3) 11.82%, rgba(6, 194, 174, 0) 122.39%);
                
                
            }
    }

.big-p{
    
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-left: -200px;
    
}
footer{
    transform:translateY( 176px);
    display: flex;
    gap: 191px;
}
.mini-ps{
    display: flex;
    gap: 75px;
    margin-left: -100px;
    div{
        color: white;
        h1{
            margin: 17px 0;
        }
        h2{
            width: 120px;
            margin: 9px 0;
        }
    }
}
.box{
    width: 200px;
    height: 200px;
    background-color:  rgba(6, 194, 174, 1);
    border-radius: 0 0 50px 0px;
    border-right: 20px solid green;
    border-bottom: 20px solid green;
    margin: 30px;
}
.down-f{
    img{
        margin-left: 200px;
    }
    font-size: 12px;
    width: 800px;
    transform:
    translateY(250px)
    translateX(-1000px)
    ;
}